.content {
  background-color: $color-white;

  display: grid;
  grid-template-rows: min-content max-content min-content;
}

.tab {
  min-height: 416.33px;
  padding: 2.5rem 3rem;
  background-color: $color-gray;

  &--active {
    display: flex;
  }
}
