.date-time {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 1.5rem;
}

.date {
  // FOR SELECTED DAY
  .selected {
    background-color: $color-primary;
    color: $color-white !important;
    border: none;
  }

  // FOR AVIABLE DAy
  .aviable {
    color: $color-black;
  }

  // FOR INACTIVE DAYS
  .inactive {
    opacity: 0;
    visibility: hidden;
  }

  header {
    @include flex;
    justify-content: center;
    gap: 2.1rem;

    img {
      font-size: 2.4rem;
      cursor: pointer;
    }
  }

  &__current {
    font-size: 1.4rem;
    font-weight: $font-regular;
  }

  &__calendar {
    background-color: $color-white;
    margin-top: 1.9rem;
  }

  &__weeks {
    @include flex;
    justify-content: space-between;
    padding: 1.5rem 2.4rem 0.9rem 2.4rem;
    border-bottom: 1px solid $color-border-gray;

    li {
      font-size: 1.3rem;
      color: $color-gray-2;
      cursor: pointer;
    }
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.8rem;

    padding: 1rem;

    li {
      font-size: 1.5rem;
      color: $color-gray-3;
      background-color: $color-gray-4;

      @include flex;
      justify-content: center;
      width: 40px;
      height: 40px;

      cursor: pointer;
    }
  }
}

.time {
  &__title {
    font-size: 1.4rem;
    font-weight: $font-regular;
    text-align: center;
    margin-top: 1rem;
  }

  &__wrapper {
    background-color: $color-white;
    margin-top: 1.9rem;
  }

  &__date {
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: $font-regular;
    text-align: center;
    padding: 1.5rem 0 0.8rem 0;
    border-bottom: 1px solid $color-border-gray;
  }

  &__box {
    padding: 1.2rem 1.5rem;
  }

  &__schedules {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    .times {
      padding: 0.7rem 2.2rem 0.6rem 2.1rem;
      background-color: $color-gray-4;
      @include flex-column(0.8rem);
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .active {
    opacity: 1;
    visibility: visible;
  }

  // FOR SELECTED TIME
  .selected {
    color: $color-white;
    background-color: $color-active;
  }
}
