* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px => 10px /16px =>62.5%
}

body {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background: linear-gradient(135deg, #8e53e4 0%, #4b22b9 100%);
}

.selected {
  border: 2px solid $color-active;
}

::selection {
  background-color: $color-primary;
}
