// COLOR
$color-primary: #6c70dc;
$color-active: #53d56c;

$color-warning: #f39c12;
$color-warning-light: #f4be6c;

$color-white: #ffffff;
$color-black: #000000;

$color-gray: #f5f7fa;
$color-gray-2: #c8c9cc;
$color-gray-3: #aaacaf;
$color-gray-4: #eceff2;

$color-border-gray: #e3eaf3;

// SHADOW
$shadow-1: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);

// FONT
$font-poppins: "Poppins", sans-serif;

// FONT WEIGHT
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
